
.right-side-layout {
    background-image: url('@assets/imgs/backgrounds/bg_shapes2.svg');
    background-size: cover;
    width: 100%;
    height: 100%;
    border-start-start-radius: 3rem;
    border-bottom-left-radius: 3rem;
}