
.sidebar {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-6)
  );
  min-height: 100vh;
  min-width: 240px;
  width: 300px; /*rem(300px);*/
  /*padding: var(--mantine-spacing-md);
  padding-bottom: 0;*/
  display: flex;
  flex-direction: column;
  border-right: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.sidebar-header {
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  height: 4.5rem;
  display: flex;
  align-items: center;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  border-bottom: 1px solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.sidebar-footer {
  border-top: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}
