
.user-menu-target {
    background: transparent;
    text-align: left;
    color: var(--input-color);

    &:hover {
        background: transparent;
        color: var(--input-color);
    }
}

.user-menu {
    .icon {
        width: var(--mantine-font-size-md);
        height: var(--mantine-font-size-md);
    }
}