
.mantine-Alert-root {
    --mantine-alert-border-style: solid;
    --mantine-alert-border-width: 3px;
    padding: 0;
    background-color: var(--mantine-color-blue-light);
    color: var(--mantine-color-blue-light-color);

    &.success {
        background-color: var(--mantine-color-green-light);
        color: var(--mantine-color-green-light-color);

        .mantine-Alert-icon {
            background: var(--mantine-color-lime-7);
            background: linear-gradient(135deg, var(--mantine-color-lime-3) 0%, var(--mantine-color-lime-7) 58%);
        }

        .mantine-Alert-body {
            border-right: var(--mantine-alert-border-width)
                          var(--mantine-alert-border-style)
                          var(--mantine-color-lime-7);
        }
    }

    &.info {
        background-color: var(--mantine-color-cyan-light);
        color: var(--mantine-color-cyan-light-color);

        .mantine-Alert-icon {
            background:  var(--mantine-color-cyan-6);
            background: linear-gradient(135deg, var(--mantine-color-cyan-3) 0%, var(--mantine-color-cyan-6) 58%);
        }

        .mantine-Alert-body {
            border-right: var(--mantine-alert-border-width)
                          var(--mantine-alert-border-style)
                          var(--mantine-color-cyan-6);
        }
    }

    &.warning {
        background-color: var(--mantine-color-yellow-light);
        color: var(--mantine-color-yellow-light-color);

        .mantine-Alert-icon {
            background:  var(--mantine-color-yellow-7);
            background: linear-gradient(135deg,  var(--mantine-color-yellow-4) 0%,  var(--mantine-color-yellow-7) 58%);
        }

        .mantine-Alert-body {
            border-right: var(--mantine-alert-border-width)
                          var(--mantine-alert-border-style)
                          var(--mantine-color-yellow-7);
        }
    }

    &.error {
        background-color: var(--mantine-color-pink-light);
        color: var(--mantine-color-pink-light-color);

        .mantine-Alert-icon {
            background: var(--mantine-color-red-8);
            background: linear-gradient(135deg, var(--mantine-color-red-4) 0%, var(--mantine-color-red-8) 58%);
        }

        .mantine-Alert-body {
            border-right: var(--mantine-alert-border-width)
                          var(--mantine-alert-border-style)
                          var(--mantine-color-red-8);
        }
    }
}

.mantine-Alert-icon {
    background: var(--mantine-color-blue-6);
    background: linear-gradient(135deg, var(--mantine-color-blue-3) 0%, var(--mantine-color-blue-6) 58%);
    color: var(--mantine-color-white);
    height: 100%;
    line-height: normal;
    width: auto;
    height: auto;
    margin:0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.mantine-Alert-body {
    padding: 0.5rem 0.5rem;
    border-right: var(--mantine-alert-border-width)
                  var(--mantine-alert-border-style)
                  var(--mantine-color-blue-6);
}

.mantine-Alert-message {
    font-size: var(--mantine-font-size-xs);
}