
.single-menu-item {
    font-weight: 500;
    display: block;
    width: 100%;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
    font-size: var(--mantine-font-size-sm);

    .icon {
      color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
    } 
  
    &:hover {
      background-color: light-dark(var(--mantine-color-orange-light-hover), var(--mantine-color-orange-outline-hover));
      color: light-dark(var(--mantine-color-orange-7), var(--mantine-color-orange-2));
      
      .icon {
        color: light-dark(var(--mantine-color-orange-7), var(--mantine-color-orange-2));
      }
    }

    &[data-active] {
      &,
      &:hover {
        background-color: light-dark(var(--mantine-color-orange-light), var(--mantine-color-orange-light));
        color: light-dark(var(--mantine-color-orange-9), var(--mantine-color-orange-light-color));
  
        .icon {
          color: light-dark(var(--mantine-color-orange-9), var(--mantine-color-orange-light-color));
        }
      }
    }
  }